.page-content {
  width: 50%;
  font-family: Roboto, sans-serif;
}

.display-flex-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.question {
  color: grey;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.question2 {
  color: grey;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.status-bar {
  width: 75%;
}

.status {
  color: gold;
}

.title {
  font-size: 2rem;
}

.seperator {
  padding-bottom: 20px;
}

.zipcode {
  width: 50%;
}

.general-info-form {
  width: 75%;
}
