.profile-image {
  height: 10rem;
  border-radius: 50%;
}

.full-name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.profile-container {
  border: 1px solid #cd72b4;
  border-radius: 5px;
  margin-top: 50px;
  padding: 25px;
  padding-bottom: 50px;
  width: 50%;
}

.edit-form {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}

.divider {
  height: 25px;
}

.user-handle {
  color: gray;
}
