.beta-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.beta-form {
  width: 40%;
}

.scroll-container {
  display: flex;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 10px;
  cursor: grab;
  padding-left: 10px;
  align-items: center;
  align-content: center;
}

.indiana-frame {
  width: 400px;
  margin-right: 15px;
  margin-left: 15px;
  height: 800px;
}

.indiana-scroll {
  margin-bottom: 80px;
}

.indiana-scroll-about {
  height: 500px;
}

.indiana-frame-picture {
  border-radius: 0.5rem;
  width: 400px;
  margin-right: 15px;
  height: 800px;
  object-fit: cover;
}

.intro {
  margin-bottom: 50px;
  padding-right: 40%;
}

.page-content-beta {
  font-family: Roboto, sans-serif;
  width: 70%;
}

.beta-section-one {
  margin-bottom: 50px;
}

.description {
  line-height: 1.5;
  font-size: 1.25rem;
}

@media (max-width: 800px) {
  .page-content-beta {
    width: 95%;
    font-family: Roboto, sans-serif;
  }

  .intro {
    margin-bottom: 50px;
    padding-right: 100%;
  }

  .beta-form {
    width: 80%;
  }
}

/* body {
  background-color: #f8f1f7;
} */
