.page-content {
  width: 60%;
  font-family: Roboto, sans-serif;
}

.title {
  font-size: 2rem;
}

.lightText {
  color: gray;
}

.seperator {
  height: 0px;
}

.row {
  margin-bottom: 50px;
}

.invisible-link {
  text-decoration: none;
  color: inherit;
}
.invisible-link:hover {
  text-decoration: none;
  color: #cd72b4;
}

.code {
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

@media (max-width: 800px) {
  .page-content {
    width: 95%;
    font-family: Roboto, sans-serif;
  }
}
