.page-content {
  width: 75%;
  font-family: "Nunito", sans-serif;
  margin-bottom: 200px;
}

.title {
  font-size: 2rem;
}

.lightText {
  color: gray;
}

.whiteText {
  color: white;
}

.darkText {
  color: black;
}

.seperator {
  height: 0px;
}

.row {
  margin-bottom: 50px;
}

.invisible-link {
  text-decoration: none;
  color: inherit;
}

.invisible-link:hover {
  text-decoration: none;
  color: #31b6ec;
}

.nothingImg {
  height: 250px;
}

.code {
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

.orangeText {
  color: orange;
}

.pagination {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .page-content {
    width: 95%;
    font-family: "Nunito", sans-serif;
  }

  .pagination {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}
