.discover-container {
  margin: 30px;
}

.discover-card-full-name {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile-image-discover-card {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1pt #e3dee2;
  object-fit: cover;
}

.grid-object {
}

.left-padding {
  padding-left: 20px;
}

.discover-card-handle {
  margin-top: 10px;
  color: gray;
}

.discover-card {
  border: 1px solid #cd72b4;
  border-radius: 5px;
  margin-top: 30px;
  width: 100%;
}

.highlight-photo {
  border-radius: 15px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.separator {
  height: 20px;
}

.discover-card-bio {
  color: gray;
  margin: 0px;
  line-height: 1.5;
}

.discover-card-bio-container {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 800px) {
  .discover-card-bio {
    color: gray;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    line-height: 1.5;
    font-size: 1rem;
  }

  .discover-card-full-name {
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
  }

  .discover-card-handle {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 1rem;
    color: gray;
    padding-left: 40px;
  }
}
