.discoverSelect {
  width: 50%;
}

.discover-page-content {
  width: 75%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 200px;
  color: 222222, 100%;
}

@media (max-width: 800px) {
  .discover-page-content {
    width: 95%;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.015em;
  }

}
