.discover-container {
  margin: 15px;
}

.discover-card-full-name {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 0px;
}

.discover-card-city-state {
  font-size: 16;
  color: grey;
  margin-left: 20px;
  padding-top: 2px;
}

.profile-image-discover-card {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1pt #e3dee2;
  object-fit: cover;
}

.left-padding {
  padding-left: 0px;
}

.discover-card-rating {
  margin-top: 7px;
}

.discover-card-ratings-text {
  font-size: 16px;
  margin-left: 2px;
  margin-top: 1px;
}

.discover-card {
  border: 1px solid #31b6ec;
  border-radius: 5px;
  margin-top: 30px;
  width: 100%;
  max-width: 900px;
}

.city-state {
  font-size: 13px;
  margin-left: 15px;
  margin-top: 1px;
}

.highlight-photo {
  border-radius: 15px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.separator {
  height: 20px;
}

.discover-card-bio {
  color: gray;
  margin: 0px;
  line-height: 1.5;
}

.discover-card-bio-container {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 800px) {
  .discover-card-bio {
    color: gray;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    line-height: 1.5;
    font-size: 1rem;
  }

  .profile-image-discover-card {
    height: 3rem;
    width: 3rem;
  }

  .discover-card-full-name {
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 5px;
  }

  .discover-card-rating {
    margin-top: 10px;
  }

  .left-padding {
    padding-left: 15px;
  }
}
