.home-footer {
  background-color: #f4f4f4;
  color: black;
  height: 150px;
  width: 100%;
  padding-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 25px;
  font-family: "Montserrat", sans-serif;
}

.footer-social {
  padding-left: 8px;
}

.footer-text {
  font-size: 0.9rem;
  padding-left: 0.5%;
}
