.home-footer {
  background-color: #f4f4f4;
  color: black;
  height: 150px;
  width: 100%;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 25px;
  font-family: "Montserrat";
}

.footer-social {
  padding-left: 8px;
}

.footer-text {
  font-size: .9rem;
  padding-left: 0.5%
}
