.home-introduction {
  background-image: url("../resources/backgrounds/confetti_stock.jpg");
  /*background-position-y: -200px;
  background-repeat: repeat-y; */
  background-size: 100%;
  width: 100%;
  height: 600px;
  text-align: center;
}

.banners {
  padding: 100px;
  width: 100%;
}

.bannerTitle {
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 100px;
  /* or 91% */
  text-align: center;

  color: #FFFFFF;
  text-shadow: 0px 2px 30px rgba(49, 182, 236, 0.6);
}

.bannerPitch {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bannerButton {
  margin-top: 20px;
  margin-bottom: 20px;
}

.homePage {
  font-family: "Nunito", sans-serif;
}

.home-sub-black {
  background-color: black;
  color: white;
  width: 100%;
  padding: 100px;
  padding-bottom: 80px;
}

.home-sub-light {
  background-color: #f4f4f4;
  color: black;
  width: 100%;
  padding: 100px;
  padding-bottom: 80px;
}

.home-sub-white {
  background-color: white;
  color: black;
  width: 100%;
  padding: 100px;
  padding-bottom: 80px;
}

.white-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #FFFFFF;
}
.home-sub-blue {
  background-color: #31B6EC;
  background: #31B6EC;
  color: white;
  width: 100%;
  padding: 100px;
  padding-bottom: 80px;
}

.subBannerTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.subBannerButton {
  margin-top: 30px;
}

.home-discover-item {
  padding-top: 25px;
}

.discover-icon {
  width: 170px;
  height: 170px;
  background: #FFFFFF;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .home-introduction {
    background-image: url("../resources/backgrounds/confetti_stock.jpg");
    background-repeat: repeat-y;
    width: 100%;
    height: 500px;
    background-size: 400%;
    /* background-position-y: 50px; */
    padding-right: 40px;
  }

  .banners {
    padding: 20px;
    width: 100%;
  }

  .bannerTitle {
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .bannerPitch {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .home-sub-black {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 80px;
  }

  .home-sub-white {
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 80px;
  }

  .subBannerTitle {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
  }
  .subBannerButton {
    margin-top: 40px;
  }
}
