.home-introduction {
  background: url("../resources/backgrounds/hero_img_2.jpg");
  background-size: cover;
  background-position-y: 0rem;
  background-position-x: center;
  background-attachment: fixed;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 125px;
  padding-left: 30%;
  padding-right: 30%;
  height: 800px;
}

.bannerTitle {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 100px;
  text-shadow: 0px 2px 30px rgba(49, 182, 236, 0.6);
  margin-top: 0px;
  margin-bottom: 50px;
}

.bannerPitch {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bannerButton {
  margin-top: 20px;
  margin-bottom: 20px;
}

.homePage {
  font-family: "Montserrat", sans-serif;
}

.home-sub-black {
  background-color: black;
  color: white;
  padding: 115px;
  width: 100%;
}

.home-sub-light {
  background-color: #f4f4f4;
  color: #222222;
  padding: 115px;
  width: 100%;
}

.home-sub-white {
  background-color: white;
  color: #222222;
  padding: 115px;
  padding-left: 250px;
  padding-right: 250px;
  width: 100%;
}

.home-sub-blue {
  background-color: #31b6ec;
  color: white;
  padding: 115px;
  padding-left: 200px;
  padding-right: 200px;
  width: 100%;
}

.white-text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.subBannerTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0px;
  font-weight: medium;
}

.subBannerButton {
  margin-top: 40px;
}

.home-discover-item {
  padding-top: 25px;
}

.discover-icon {
  width: 170px;
  height: 170px;
  border-radius: 10px;
}

.about-text-xs {
  display: none;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
}

.about-text-sm {
  display: block;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
}

.home-newsletter-button {
  margin-top: 4 0px;
}

.discover-icon-text {
  margin-top: 5px;
  color: white;
  font-size: 20px;
}

.beta-form {
  margin-top: 50px;
}

@media (max-width: 900px) {
  .home-introduction {
    background: url("../resources/backgrounds/hero_img_2.jpg");
    background-size: cover;
    background-position-y: 0rem;
    background-position-x: center;
    background-attachment: sticky;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 125px;
    padding-left: 10px;
    padding-right: 10px;
    height: 800px;
    width: 100%;
  }

  .bannerTitle {
    font-size: 4.5rem;
    margin-top: 5px;
    margin-bottom: 40px;
    line-height: 100px;
  }

  .subBannerTitle {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 500px;
  }

  .subBannerButton {
    margin-top: 40px;
  }

  .home-sub-black {
    background-color: black;
    color: white;
    padding: 25px;
    padding-bottom: 80px;
    width: 100%;
  }

  .home-sub-light {
    background-color: #f4f4f4;
    color: black;
    padding: 25px;
    padding-bottom: 80px;
    width: 100%;
  }

  .home-sub-white {
    background-color: white;
    color: #222222;
    padding: 25px;
    padding-bottom: 80px;
    width: 100%;
    font-weight: normal;
  }

  .home-sub-blue {
    background-color: #31b6ec;
    color: white;
    padding: 25px;
    padding-bottom: 80px;
    width: 100%;
  }

  .about-text-xs {
    display: block;
    font-weight: 400;
    align-items: center;
  }

  .about-text-sm {
    display: none;
    font-weight: 400;
    align-items: center;
  }

  .discover-icon {
    color: white;
    height: 6rem;
    width: 6rem;
  }
}
