.userContainer {
  /* background-color: aqua; */
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  font-family: Roboto, sans-serif;
}
.firstRow {
  margin: 1rem;
}

.grid-item-userinfo {
  /* This is for testing */
  border: 1px solid black;

  height: 9rem;
}

.grid-item-messagebutton {
  border: 1px solid black;
  height: 4rem;
}

.company-name {
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #5f6b82;
}

.user-handle {
  margin-top: 10px;
  color: grey;
}

.profile-image {
  height: 100%;
  border-radius: 50%;
}

.grid-item-bigpicture {
  /* This is for testing */
  border: 1px solid black;
}
.bigpicture-section {
  width: 100%;
}
.grid-item-smallpictures {
  /* This is for testing */
  border: 1px solid black;
}
.smallpicture-section {
  width: 100%;
}
.grid-item-description {
  /* This is for testing */
  border: 1px solid black;
}
.grid-item-request {
  /* This is for testing */
  border: 1px solid black;
}

/* Fourth Row: Reviews Section */
.grid-item-reviews {
  /* This is for testing */
  border: 1px solid black;
}
.reviews-section {
  height: 100%;
  margin: 2rem;
}
.banner {
  fontSize: 3rem;
  color: #505F98;
}
