.userContainer {
  /* background-color: aqua; */
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  font-family: Roboto, sans-serif;
}
.firstRow {
  margin: 1rem;
}

.grid-item-userinfo {
  /* This is for testing */
  border: 1px solid black;

  height: 9rem;
}

.grid-item-messagebutton {
  border: 1px solid black;
  height: 4rem;
}

.company-name {
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #5f6b82;
}

.user-handle {
  margin-top: 10px;
  color: grey;
}

.profile-image {
  height: 7rem;
  border-radius: 50%;
}

.grid-item-bigpicture {
  /* This is for testing */
  border: 1px solid black;

  height: 9rem;
}
.grid-item-description {
  /* This is for testing */
  border: 1px solid black;

  height: 9rem;
}
.grid-item-request {
  /* This is for testing */
  border: 1px solid black;

  height: 9rem;
}
.grid-item-reviews {
  /* This is for testing */
  border: 1px solid black;

  height: 9rem;
}
