@import "~react-image-gallery/styles/css/image-gallery.css";

.user-container {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 3rem;
  font-family: Roboto, sans-serif;
  border-radius: 3%;
  padding: 50px;
  background-color: #F5F5F5; 
}

.grid-item-messagebutton {
  height: 4rem;
}

.company-name {
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #5f6b82;
}

.user-handle {
  margin-top: 10px;
  color: grey;
}

.profile-image img {
  border-radius: 50%;
  box-shadow: 0 0 0 1pt #e3dee2;
  width: 100%;
}

.image-gallery {
  width: 100%;
}

.grid-item-title {
    padding-left: 50px;
    padding-top: 20px;
}

.reviews-section {
  width: 100%;
}

.bio-container {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px; 
  padding: 0px;
  line-height: 2;
}
.banner {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.image-gallery {
  width: 100%;
  height: auto;
}

.image-gallery-slide img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  overflow-y: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}

.bio {
  font-size: 1.5rem;
  margin-top: 0px;
  color: #6C6969;
}

.chip-padding {
  margin-right: 5px;
  font-size: 1.5rem;
}

.review-card {
    word-wrap: break-word;
    height: 25vh;
    line-height: 1.5;
    padding: 20px;
}

.review-handle {
  font-size: 1.2rem; 
  color: gray;
}

.review-body {
  font-size: 1.25rem;
}